.play-window {
    padding-top: 10px;
    overflow: scroll;
    height: 60%;
    width: 50%;
    background-color: #555;
    margin: auto;
    color: white;
}

.input-box {
    width: 50%;
    margin: auto;
}

.main-window {
    margin: auto;
}

.input.name {
    width: 100%;
}

button, input {
    overflow: visible;
    width: 100%;
}

.body {
    background-color: #4f6282;
}