<html>
  <head>
        <!-- This is all bootstrap copy and paste-->
        <link rel="stylesheet" href="/static/css/main.css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <title>Oregon Trail!</title>
  </head>
  <!-- Navbar -->
  <body style="background-color:#4f6282;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
        <a class="navbar-brand" href="/"><span class="blue">Oregon Trail</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                </ul>
        </div>
    </nav>
    
    <h1>What is the Oregon Trail?</h1>
  <img src= "static/trail.jpg"/> 

  <div id="historical">
    <h2>Historical Background</h2>
      <p>The Oregon Trail is a 2,170 mile route that spans from Missouri to Oregon.
       Hundreds of thousands of settlers, farmers, and miners transversed this trail. </p>
  </div>
  
  <div id="objective">
    <img src= "static/buy.jpg"/>
    <h2>Objective of the Game</h2>
      <p>The player's goal is to escort a party from Independence, Missouri to Willamette Valley in Oregon.
       players purchase food, oxen, clothing, ammunition, and spare parts in order to keep their wagon going.
       Party members can die from various causes, and it is the player's goal to keep as many of them alive as possible.
       Players are scored at the end based on a variety of factors, including starting profession and members still alive. </p>
  </div>

  <div id="mine sucks">
    <img src = "static/dysentery.jpg" width="500" height="300"/>
    <h2>Where are all those Features?</h2>
      <p>Due to budget cuts and time restrictions, the developer of this version of The Oregon Trail
       created a very barebones version of the original experience. However, dysentery was <strong><em>not</em></strong> forgotten. </p>  
  </div>

  <div id="og games">
    <img src = "static/1985.jpg" width = "500" height = "400"/>
    <h2>Original Games</h2>
      <p>Originally released in 1971 as a text-based game, The Oregon Trail Series
       has brought a number of popular spinoffs. The list includes:</p>
      <ul>
	<li>The Oregon Trail (1971 video game), text-based strategy game</li>
	<li>Oregon Trail, a 1981 board game</li>
	<li>The Oregon Trail (1985 video game), an educational computer game based on the 1971 version</li>
	<li>The Oregon Trail (2009 video game), the 2009 iOS and DSi version of the 1985 game</li>
	<li>The Oregon Trail (2011 video game), the 2011 version of the 1971 video game</li>
	<li>The Oregon Trail (card game), a card game based on the video game</li>
      </ul>
  </div>

  <a href="https://en.wikipedia.org/wiki/The_Oregon_Trail_(series)"
   target ="_blank"> Learn More </a>
   <h3>Sources:</h3>
   <a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a>
   <a href="http://flask.pocoo.org/docs/1.0/patterns/jquery/">http://flask.pocoo.org/docs/1.0/patterns/jquery/</a>
   <a href="https://www.codecademy.com/learn">https://www.codecademy.com/learn</a>
   <a href="https://stackoverflow.com/questions/36590722/reload-particular-element-with-jquery">https://stackoverflow.com/questions/36590722/reload-particular-element-with-jquery</a>
   <a href="https://stackoverflow.com/questions/16323360/submitting-html-form-using-jquery-ajax">https://stackoverflow.com/questions/16323360/submitting-html-form-using-jquery-ajax</a>
   <a href="https://stackoverflow.com/questions/11563638/how-do-i-get-the-value-of-text-input-field-using-javascript">https://stackoverflow.com/questions/11563638/how-do-i-get-the-value-of-text-input-field-using-javascript</a>
   <a href="https://www.bogotobogo.com/python/Flask/Python_Flask_with_AJAX_JQuery.php">https://www.bogotobogo.com/python/Flask/Python_Flask_with_AJAX_JQuery.php</a>
   <a href="https://stackoverflow.com/questions/5052543/how-to-fire-ajax-request-periodically">https://stackoverflow.com/questions/5052543/how-to-fire-ajax-request-periodically</a>
   <a href="https://www.encodedna.com/jquery/add-text-to-div-using-jquery-appendto.htm">https://www.encodedna.com/jquery/add-text-to-div-using-jquery-appendto.htm</a>
   <a href="https://stackoverflow.com/questions/16935711/parsing-jquery-ajax-response">https://stackoverflow.com/questions/16935711/parsing-jquery-ajax-response</a>
   <a href="https://stackoverflow.com/questions/270612/scroll-to-bottom-of-div">https://stackoverflow.com/questions/270612/scroll-to-bottom-of-div</a>
   <a href="https://stackoverflow.com/questions/22733040/uncaught-typeerror-cannot-read-property-scrollheight-of-undefined">https://stackoverflow.com/questions/22733040/uncaught-typeerror-cannot-read-property-scrollheight-of-undefined</a>
   
  </body>
</html>